@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    object-fit: contain;
  }

  &__links {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Alata', sans-serif;
    color: white;
    hr {
      display: none;
    }
  }

  &__link:hover {
    cursor: pointer;

    hr {
      display: block;
      width: 50%;
      height: 1.5px;
      background-color: white;
    }
  }
  .nav_toggle {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
    .navbar {
        width: 100%;
        display: flex;

        &__logo {
            display: flex;
            width: 120px;
            left: 5px;
            padding: 10px;
            align-self: center;
        }

        &__link {
            display: flex;
            font-size: 12px;
        }
    }
}