.footer {
  margin-top: 100px;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  &__social {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  &__icon {
    margin-left: 20px;
  }

  &__text {
    font-family: 'Alata', sans-serif;
    opacity: 0.5;
    color: white;
    margin-right: 30px;
  }

  &__nav {
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    display: none;
  }
}
